{% extends 'header.html' %}
{% load static %}
{% block content %}


	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="{% url 'index' %}">Home</a>
						<i>|</i>
					</li>
					<li>Checkout</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- checkout page -->
	<div class="privacy py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>C</span>heckout
			</h3>
			<!-- //tittle heading -->
			<div class="checkout-right">
				<h4 class="mb-sm-4 mb-3">Your shopping cart contains:
					<span></span>
				</h4>
				<div class="table-responsive">
					<table class="timetable_sub">
						<thead>
							<tr>
								
								<th>Product</th>
								<th>Quantity</th>
								<th>Product Name</th>

								<th>Price</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody>
							{% for i in cart_list %}
							<tr class="rem1">
								<td class="invert-image">
									<a href="single.html">
										<img src="{{i.product.pic.url}}" alt=" " class="img-responsive">
									</a>
								</td>
								<td class="invert">
									<div class="quantity">
										<div class="quantity-select">
											<div class="entry value-minus">&nbsp;</div>
											<div class="entry value">
												<span>1</span>
											</div>
											<div class="entry value-plus active">&nbsp;</div>
										</div>
									</div>
								</td>
								<td class="invert">{{i.product.product_name}}</td>
								<td class="invert">{{i.product.price}}</td>
								<td class="invert">
									<div class="rem">
										<a href="{% url 'del_cart_row' i.id %}">Remove</a>
									</div>
								</td>
							</tr>
							{% endfor %}
							<!-- <tr class="rem3">
								<td class="invert">3</td>
								<td class="invert-image">
									<a href="single.html">
										<img src="{% static 'images/a3.jpg' %}" alt=" " class="img-responsive">
									</a>
								</td>
								<td class="invert">
									<div class="quantity">
										<div class="quantity-select">
											<div class="entry value-minus">&nbsp;</div>
											<div class="entry value">
												<span>1</span>
											</div>
											<div class="entry value-plus active">&nbsp;</div>
										</div>
									</div>
								</td>
								<td class="invert">Nikon Camera</td>
								<td class="invert">$37,490</td>
								<td class="invert">
									<div class="rem">
										<div class="close3"> </div>
									</div>
								</td>
							</tr> -->
						</tbody>
					</table>
				</div>
			</div>
			<div class="checkout-left">
				<div class="address_form_agile mt-sm-5 mt-4">
					<h4 class="mb-sm-4 mb-3"> Total Amount :</h4>
					<h4 class="mb-sm-4 mb-3">${{total_price}} </h4>
					<div class="checkout-right-basket">
						<a id="pay-btn">Make a Payment
							<span class="far fa-hand-point-right"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //checkout page -->

	<!-- middle section -->
	<div class="join-w3l1 py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<div class="row">
				<div class="col-lg-6">
					<div class="join-agile text-left p-4">
						<div class="row">
							<div class="col-sm-7 offer-name">
								<h6>Smooth, Rich & Loud Audio</h6>
								<h4 class="mt-2 mb-3">Branded Headphones</h4>
								<p>Sale up to 25% off all in store</p>
							</div>
							<div class="col-sm-5 offerimg-w3l">
								<img src="{% static 'images/off1.png' %}" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-lg-0 mt-5">
					<div class="join-agile text-left p-4">
						<div class="row ">
							<div class="col-sm-7 offer-name">
								<h6>A Bigger Phone</h6>
								<h4 class="mt-2 mb-3">Smart Phones 5</h4>
								<p>Free shipping order over $100</p>
							</div>
							<div class="col-sm-5 offerimg-w3l">
								<img src="{% static 'images/off2.png' %}" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- middle section -->
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script>
	  var options = {
		 
		// Enter the Key ID generated from the Dashboard
		key: "{{ razorpay_merchant_key }}",
		 
		// Amount is in currency subunits.
		// Default currency is INR. Hence,
		// 50000 refers to 50000 paise
		amount: "{{ razorpay_amount }}",
		currency: "{{ currency }}",
		 
		// Your/store name.
		name: "Dj Razorpay",
		 
		// Pass the `id` obtained in the response of Step 1
		order_id: "{{ razorpay_order_id }}",
		callback_url: "{{ callback_url }}",
	  };
	   
	  // initialise razorpay with the options.
	  var rzp1 = new Razorpay(options);
	   
	  // add event listener to the payment button.
	  document.getElementById("pay-btn").onclick = function (e) {
		rzp1.open();
		e.preventDefault();
	  };
	</script>
	{% endblock %}

	