{% extends 'header.html' %}
{% load static %}
{% block content %}


    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body modal-body-sub_agile">
                <div class="main-mailposi">
                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                </div>
            
                <div class="modal_body_left modal_body_left1">
                    <h3 class="agileinfo_sign">Verify Email</h3>
                    <h6>{{msg}}</h6>
                    <form action="{% url 'otp' %}" method="post">
                        {% csrf_token %}
                        
                        <div class="styled-input agile-styled-input-top">
                            <input type="text" placeholder="Enter OTP" name="u_otp" required="">
                        </div>
                        
                        <div class="styled-input agile-styled-input-top">
                             <input type="submit" value="Verify">
                        </div>
                    </form>
                   
                </div>
            </div>
        </div>
        <!-- //Modal content-->
    </div>


{% endblock %}
