
{% extends 'header.html' %}
{% load static %}
{% block content %}
<head>
    <style>
        .container{
            margin: 50px;
        }
    </style>
</head>
<div class="container">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset Password</h5>
               
            </div>
            <p>{{msg}}</p>
            <div class="modal-body">
                <form action="{% url 'register'%}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-form-label">OLD_PASSWORD</label>
                        <input type="password" class="form-control" placeholder="old_password " name="password" id="password1" required="">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">NEW_PASSWORD</label>
                        <input type="password" class="form-control" placeholder="new_password" name="n_password" id="password2" required="">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">RE-ENTER_PASSWORD</label>
                        <input type="password" class="form-control" placeholder="repassword" name="re_password" id="password2" required="">
                    </div>
                    
                    <div class="sub-w3l">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="customControlAutosizing2">
                            <label class="custom-control-label" for="customControlAutosizing2">I Accept to the Terms & Conditions</label>
                        </div>
                    </div>
                    <div class="right-w3l">
                        <input type="submit" class="form-control" value="Confirm">
                    </div>
                </form>
            </div>
        </div>
</div>
{% endblock %}